@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

body,
html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body {
    background-image: url("../ assets/bg.svg");
}


.layout{
    height: 100%;
    
}

footer > p {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}