.landing-page {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 20px;
    border-bottom: none;
}

.logo{
    max-width: 600px;
}

.logo-homepage {
    max-width: unset;
    width: 100%;
}

.page-subtitle {
    margin: 20px 30px 30px 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
}

.search-form {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    border: 2px solid #003CB0;
    border-radius: 30px;
    padding: 7px 10px;
    background: rgba(255, 255, 255, 0.8);
    max-width: 570px;
    transition: 0.3s;
}



.search-input{
    border:none;
    padding: 2px;
    width: 100%;
    font-size: 18px;
    background: none;
}

.search-input:focus{
    outline:0.1px dotted #808080;
}



.search-submit-btn {
    background: none;
    border: none;
    border-left: 1px solid #003CB0;
    padding: 6px 5px;
    min-width: 40px;
}

.supported-content {
    display:flex;
    flex-direction: column;
    align-items:center;
    border-top: 1px solid #eeeeee;
}

.supported-content > h3{
    font-size: 18px;
    color: #000;
}

.supported-items{
    display: flex;
    flex-direction:row;
}

.supported-item{
    margin: 10px;
    padding:5px;
    max-width: 40px;
}

.supported-item > img{
    width: 100%;
}

.supported-content p{ 
    font-size: 18px;
}